.q {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 6px;
    border-radius: 5px;
    border-style:solid ;
}
window.location.href = 'https://t.me/+YGxev27wrUc2YjBk';